<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>example</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>sample.servlet.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sample.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>sample.servlet.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>sample.servlet.LogoutServlet</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>sample.servlet.CategoryServlet</servlet-class>
    </servlet>-->
    <listener>
        <description>ServletContextListener</description>
        <listener-class>sample.listener.ContextServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LayoutServlet</servlet-name>
        <servlet-class>sample.servlet.LayoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>sample.servlet.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAddressServlet</servlet-name>
        <servlet-class>sample.servlet.SearchAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStudentServlet</servlet-name>
        <servlet-class>sample.servlet.InsertStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/ProcessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping-->
    <servlet-mapping>
        <servlet-name>LayoutServlet</servlet-name>
        <url-pattern>/LayoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAddressServlet</servlet-name>
        <url-pattern>/SearchAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStudentServlet</servlet-name>
        <url-pattern>/InsertStudentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ProcessServlet</welcome-file>
    </welcome-file-list>
</web-app>
